:root {
  --secondary-color: #f9f7fe;
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

p {
  font-family: var(--default-font-family);
  margin: 0;
  color: #272142;
}

h1,
h3 {
  font-family: var(--heading-font-family);
  font-weight: bold !important;
  color: #000000 !important;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0;
}

.hero {
  background-color: var(--secondary-color) !important;
  max-width: 100% !important;
  padding: 60px;
}

.hero p {
  font-weight: bold;
  font-size: 36px!important;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 14px;
}

.project-detail {
  opacity: 70%;
}

.btn-branding {
  font-family: var(--default-font-family);
  font-weight: 500 !important;
  color: #fff !important;
  background-color: var(--branding-color) !important;
  border-radius: 4px !important;
  margin-top: 10px !important;
  text-transform: capitalize;
}

.btn-branding-outline {
  font-family: var(--default-font-family);
  font-weight: 500 !important;
  color: var(--branding-color) !important;
  background-color: #fff !important;
  border: 1px solid var(--branding-color) !important;
  border-radius: 4px !important;
  margin-top: 10px !important;
}

.content-section h1 {
  font-weight: bold;
  font-size: 30px;
}

.content-section h2 {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 18px;
}

.about-section p {
  font-weight: normal;
  opacity: 70%;
}

.content-section h3 {
  font-family: var(--default-font-family);
  font-weight: bold !important;
}

.logo {
  max-height: 40px;
}

footer .contact-box{
  background-color: var(--secondary-color);
  border-radius: 20px;
}

footer .email-link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  transition: all 150ms ease-in-out;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  font-size: 18px;
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 16px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #fff;
  background-color: var(--branding-color);
}

@media (min-width: 440px) {
  nav {
    padding: 20px 0;
  }

  nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
  }

  h1 {
    font-size: 96px !important;
  }

  h3 {
    font-size: 64px !important;
  }

  p {
    font-size: 18px!important;
  }

  .hero {
    padding: 150px;
  }

  .hero p {
    font-size: 36px;
  }

  .hero h2 {
    font-size: 24px;
    line-height: 3.5 !important;
  }

  .btn-branding {
    font-size: 18px !important;
    padding: 15px 30px !important;
  }

  .btn-branding-outline {
    font-size: 16px !important;
    padding: 14px 30px !important;
  }

  .project-detail {
    font-size: 16px!important;
    line-height: 30px;
  }

  .about-section p {
    font-size: 16px;
    line-height: 30px;
  }

  .content-section {
    padding: 150px;
  }

  .content-section h1 {
    font-size: 64px !important;
    line-height: 1.1;
  }

  .content-section h2 {
    font-size: 18px;
    line-height: 1.5 !important;
  }

  .content-section h3 {
    font-size: 24px !important;
    line-height: 1;
  }

  .content-section p {
    font-size: 14px !important;
  }

  footer .contact-box h3{
    font-size: 48px!important;
  }
}

@media (min-width: 200px) and (max-width: 920px) {
  .content-section {
    text-align: center;
    padding: 60px 0;
  }

  .about-section h1 {
    font-size: 60px !important;
  }
}
